<div class='shell' id='shell1'></div>

<script>
  (function() {
    var sessionInfo = new EcmaSh.SessionInfo();
    var shell = new EcmaSh.Shell({}, { session: sessionInfo });
    new EcmaSh.ShellView({ el: $("$shell1"), model: shell }).render();
  }());
</script>

  
