<div class='shell' id='shell1'></div>

<script>
  (function() {
    var session = new EcmaSh.Session();
    var shell = new EcmaSh.Shell({}, { session: session });
    new EcmaSh.ShellView({ el: $("#shell1"), model: shell }).render();
  }());
</script>

  
