$green: rgb(166,227,45);

body { background-color:black;  color:$green; padding:0px; margin:0px; font-size:16px; }
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


input { font-size:16px; }

.prompt { 
  padding:5px; 
  width:100%;
  position:relative;
  overflow:hidden;


  .prompt-prefix {
    padding:8px 0px;
    display:inline-block;
    float:left;
  }
  .prompt-container {
    overflow:hidden;
  }

  .prompt-wrap {
    width:100%;
    display:inline-block;
    padding:2px;
  }
  .prompt-command {
    padding:4px;
    border:0px;
    background-color:inherit;
    color:$green;
    width:100%;

    &:focus{ outline:none; }
  }
}
