$green: rgb(166,227,45);

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html, body { 
  height:100%;
}

body { 
  background-color:black;  
  color:$green; 
  padding:0px; 
  margin:0px; 
  font-weight:normal;
  font-size:16px; 
  font-family: 'Anonymous Pro', sans-serif;
}

input { font-size:16px; font-family: 'Anonymous Pro', sans-serif;  }

.shell { height:100%; overflow-y: scroll; }

.command {
  padding:1px 5px; 
  width:100%;
  position:relative;

  .prompt-prefix {
    padding:4px 0px;
    display:inline-block;
  }

  .prompt-command {
    padding:2px;
    border:0px;
    background-color:inherit;
    color:$green;
    display:inline-block;
  }

}

.prompt { 
  padding:1px 5px; 
  width:100%;
  position:relative;
  overflow:hidden;


  .prompt-prefix {
    padding:4px 0px;
    display:inline-block;
    float:left;
  }
  .prompt-container {
    overflow:hidden;
  }

  .prompt-wrap {
    width:100%;
    display:inline-block;
    padding:0px;
  }
  .prompt-command {
    margin:0px;
    padding:4px 2px;
    border:0px;
    background-color:inherit;
    color:$green;
    width:100%;

    &:focus{ outline:none; }
  }
}
