$green: rgb(166,227,45);

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html, body { 
  height:100%;
}

body { 
  background-color:black;  
  color:$green; 
  padding:0px; 
  margin:0px; 
  font-weight:normal;
  font-size:16px; 
  font-family: 'Anonymous Pro', sans-serif;
}

input { font-size:16px; font-family: 'Anonymous Pro', sans-serif;  }

.shell { height:100%; overflow-y: scroll; }

.line { 
  clear:both;
  padding:1px 5px; 
  width:100%;
  position:relative;
  overflow:hidden;
  min-height:20px;

  label {
    padding:4px 0px;
    display:inline-block;
    float:left;
  }

  .prompt, .command {
    margin:0px;
    padding:4px 2px;
    border:0px;
    color:$green;
    display:block;
    min-height:20px;
    min-width:100px;

    &:focus{ outline:none; }
  }

  &.error { color: #830000; }

  .running { 
    float:right;
    -webkit-animation: rotater 0.5s linear 0s 500 normal;
  }

}


@-webkit-keyframes rotater {
   from { -webkit-transform: rotate(0deg); }
   to   { -webkit-transform: rotate(360deg); }
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


code { max-width:100%; }

.editor {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:white;
}

.CodeMirror { height: 100%; }



